.profile {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

.profile  table {
    padding: 20px;
    max-width: max-content;
    background: rgba(63, 61, 61, 0.5);
    border: 1px solid white;
    border-radius: 10px;
}

.profile th, .profile td {
    text-align: left;
}

.profile td {
    padding-left: 20px;
}

@media only screen and (max-width: 620px) {
    .profile {
        top: 35%;
    }
}