.teacher .students {
    width: max-content;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    background: rgba(63, 61, 61, 0.5);
    padding: 20px;
}

.teacher .students table {
    margin: auto;
    text-align: center;
}

.teacher .students th {
    cursor: alias;
    background: white;
    color: black;
    padding: 0 30px;
}

.teacher .students th:hover {
    background: grey;
}

.teacher .students table tr td:not(:last-of-type) {
    border-bottom: 1px solid white;
    padding: 5px 30px;
}

.teacher .students button {
    border-radius: 5px;
    margin-left: 10px;
    background: white;
}

.teacher .students .search {
    position: absolute;
    top: -50px;
    right: 0;
    background: rgba(63, 61, 61, 0.5);
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
    height: 30px;
    padding-left: 10px;
}

.teacher .students .fa-search {
    font-size: medium;
}

.teacher .students .fa-search::placeholder {
    color: white;
}

@media only screen and (max-width: 700px) {
    .teacher .students {
        top: 60%;
        width: max-content;
        border-radius: 5px;
        padding: 5px;
    }

    .teacher .students table {
        width: 90vw;
        margin: 0;
    }
    
    .teacher .students button {
        display: block;
        font-size: 10px;
        margin: 0;
    }
    
    .teacher .students button:last-of-type {
        margin-top: 5px;
    }
    
    .teacher .students th {
        width: 50px;
        padding: 0;
    }
    
    .teacher .students table tr td:not(:last-of-type) {
        padding: 0;
    }

    .teacher .students table tr td:last-of-type {
        display: contents;
        width: 20px;
        margin: 0;
        padding: 0;
    }
    
    .teacher .students .search {
        border-radius: 5px;
        height: 20px;
        width: 120px;
        padding-left: 5px;
    }
    
    .teacher .students .fa-search::placeholder {
        font-size: 10px;
    }
}

@media only screen and (orientation: landscape) {
    .teacher .students table {
        width: 100%;
    }

    .teacher .students button {
        margin-left: 10px;
    }
}