.students {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    background: rgba(63, 61, 61, 0.5);
    padding: 20px;
}

.students table {
    margin: auto;
    text-align: center;
}

.students th {
    cursor: alias;
    background: white;
    color: black;
    padding: 0 30px;
}

.students th:hover {
    background: grey;
}

.students table tr td:not(:last-of-type) {
    border-bottom: 1px solid white;
    padding: 5px 30px;
}

.students button {
    border-radius: 5px;
    margin-left: 10px;
    background: white;
}

.students .search {
    position: absolute;
    top: -50px;
    right: 0;
    background: rgba(63, 61, 61, 0.5);
    border: none;
    border-radius: 10px;
    color: white;
    outline: none;
    height: 30px;
    padding-left: 10px;
}

.students .fa-search {
    font-size: medium;
}

.students .fa-search::placeholder {
    color: white;
}