:root {
    --change-color: white;
}

.change {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: white;
}

.change *:not(.fas) {
    font-family: Arial, Helvetica, sans-serif;
}

.change-form {
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 1px solid var(--change-color);
    box-shadow: 15px 15px 15px black;
    padding: 10px 50px 20px;
    background: rgba(63, 61, 61, 0.5);
    border-radius: 8px;
    margin-bottom: 20px;
}

.change-form h3 .fa-key {
    text-shadow:0 0 5px var(--change-color), 0 0 5px var(--change-color), 0 0 20px var(--change-color), 0 0 20px var(--change-color);
    margin-right: 10px;
}

.change-form input {
    background: rgba(31, 28, 28, 0.9);
    border: none;
    border-radius: 5px;
    color: white;
}

.change-form input:focus {
    outline: none;
}

.change-form input[type=text], .change input[type=password] {
    height: 30px;
    margin: 10px 0;
    padding-left: 10px;
}

.change-form input[type=submit] {
    margin-top: 10px;
    border: 1px solid var(--change-color);
    padding: 5px 10px;
}

.change-form input[type=submit]:active {
    background: rgba(63, 61, 61, 0.3);
}

.info {
    padding: 5px;
    color: var(--change-color);
    letter-spacing: 1px;
    background: rgba(63, 61, 61, 0.3);
    text-shadow: 2px 2px 50px black, -2px -2px 50px black;
    box-shadow: 2px 2px 10px black, 2px 2px 10px black;
}

@media only screen and (orientation: landscape) {
    .change {
        top: 50%;
    }
  }